<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C3_ManajemenTugas.Properties.Settings.TugasDBConnectionString"
            connectionString="Data Source=KAIDEN\BLAZE;Initial Catalog=TugasDB;Persist Security Info=True;User ID=sa;Password=towinnadzul09122005;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>